# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:<br>
->List popular languages for Data Science<br>
->List commonly used libraries used by data scientists.<br>
->List data science tools<br>

Some of the popular languages that Data Scientists use are:<br>
    1)Python.<br>
    2)R.<br>
    3)SQL.<br>
    4)Java.<br>
    5)Julia.<br>
    6)Scala.<br>
    7)C/C++<br>
    8)JavaScript.<br>

Some of the commonly used libraries used by Data Scientists include:<br>
    1)Pandas<br>
    2)Matplotlib<br>
    3)Keras<br>

|Data Science Tools|
|---|
|RStudio|
|Apache Hadoop|
|Jupyter Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#his will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Kolusu Sahithi